/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.logo {
  height: 20px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  background-color: rgb(14,14,16);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  text-decoration: none;
  color: rgb(10,132,255);
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* OLD NAV BAR */

/* .top-nav {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button, .logo {
  float: right;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 6px 30px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
}

.logo {
  padding-right: 180px;
}

.top-nav a:hover {
  color: rgb(10,132,255);
  text-decoration: none;
}

.top-nav .logo {
  height: 20px;
} */

body {
  margin: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: rgb(0,0,0);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
  color: rgb(255,255,255);
  text-align: left;
  margin: 0;
}

p {
  color: rgb(142,142,147);
  text-align: left;
  font-size: 1.3em;
}

.feature-text, .feature-text-icon {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  height: 40%;
}

/* .feature AND .feature-alt */

.feature, .feature-alt {
  display: block;
}

.feature {
  background-color: rgb(0,0,0);
  border: 0px solid rgb(0,0,0);
}

.feature-alt {
  background-color: rgb(14,14,16);
  border: 0px solid rgb(14,14,16);
}

/* .feature-flex AND .feature-flex-alt */

.feature-flex, .feature-flex-alt, .feature-flex-icon {
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.feature-flex, .feature-flex-icon {
  background-color: rgb(0,0,0);
}

.feature-flex-alt {
  background-color: rgb(14,14,16);
}

/* ABOUT, TERMS & PRIVACY, AND COMMUNITY GUIDELINES */

.about-container {
  display: block;
  justify-content: center;
}

.about-header {
  color: rgb(255,255,255);
  margin: 0;
  text-align: left;
  font-size: 2.6em;
  line-height: 1.47;
  font-weight: 600;
}

.about {
  width: 875px;
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
}

a {
    color: rgb(10,132,255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.about-text {
  color: rgb(255,255,255);
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.47;
  padding-bottom: 40px;
}

/* ICON */

.feature-image, .feature-image-icon {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-icon, .feature-text-icon {
  height: auto;
}

.app-store {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.app-store-button {
  background-color: rgb(0,0,0);
  border: 0;
  height: 60px;
}

/* START media queries */

@media (min-width: 977px) {
  .feature-flex, .feature-flex-alt {
    width: 952px;
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .feature-flex-icon {
    width: 952px;
    padding-top: 30px;
  }
}

@media (max-width: 976px) {
  .about-text {
    font-size: 0.96em;
  }
  .about {
    width: 86%;
    padding-top: 30px;
  }
  .feature-flex, .feature-flex-alt, .feature-flex-icon {
    width: 92%;
    display: block;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .feature-text, .feature-text-icon {
    order: 1;
    width: auto;
    height: auto;
  }
  .text {
    height: auto;
  }
  .feature-text-icon {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .feature-image {
    order: 2;
    width: 250px;
    padding-top: 15px;
  }
  .feature-image-icon {
    width: 250px;
    height: auto;
  }
  .top-nav .logo {
    display: none;
  }
  .top-nav {
    padding-bottom: 40px;
  }
  .top-nav .nav-button {
    float: right;
    justify-content: space-around;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.1em;
  }
}

/* Mobile - S */
@media (max-width: 425px) {
  .feature-flex-icon {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .feature-flex, .feature-flex-alt {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .feature-text-icon, .feature-text {
    font-size: 0.7em;
  }
  .feature-image, .feature-image-icon {
    width: 200px;
  }
  p {
    text-align: center;
    font-size: 0.94em;
  }
  .nav-button, .logo {
    float: center;
    text-align: center;
    padding: 6px 20px;
    font-size: 0.6em;
  }
}

/* END media queries */
