:root {
  /* Color */

  --clr-primary-100: hsl(240, 7%, 6%);
  --clr-primary-200: hsl(0, 0%, 0%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 81%);

  --clr-accent-100: hsl(210, 100%, 52%);

  /* Font family  */
  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--fs-primary);

  /* Font weight  */
  --fw-regular: 300;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Font size  */
  --fs-50: 1rem;
  --fs-70: 1.0625rem;
  --fs-90: 1.1rem;
  --fs-100: 1.3rem;
  --fs-200: 2rem;
  --fs-300: 2.6rem;
  --fs-400: 3.5rem;

  --fs-body: var(--fs-100);
  --fs-body-setting: var(--fs-50);
  --fs-primary-heading: var(--fs-400);
  --fs-secondary-heading: var(--fs-300);
  --fs-nav: var(--fs-70);

  /* Padding block  */
  --vertical-padding-50: 0.55rem;
  --vertical-padding-80: 0.605rem;
  --vertical-padding-100: 1.5rem;
  --vertical-padding-300: 4.5rem;
  --vertical-padding-700: 8.5rem;
  --vertical-padding-900: 4rem;
}

/* Mobile size */
/* @media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-200);
  }
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
} */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  transition: background 0.6s linear;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: inline;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

/* General styling */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

h1 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-primary-heading);
  background-size: 200%;
  background-image: linear-gradient(120deg, #33c8f8, #5b33ed);
  -webkit-background-clip: text;
  color: transparent;
}

p {
  color: var(--clr-neutral-200);
}

a:not([class]) {
  color: var(--clr-accent-100);
  font-weight: var(--fw-regular);
  text-decoration: none;
}

i {
  cursor: pointer;
}

.img-icon {
  width: 355px;
}

.img-vc {
  height: 822px;
  width: 433px;
}

strong {
  color: var(--clr-neutral-100);
  font-size: var(--fs-50);
  font-weight: var(--fw-bold);
}

/* navigation */

.primary-header {
  padding: var(--vertical-padding-50) 0 var(--vertical-padding-50) 0;
}

.content-sidebar {
  display: flex;
}

.content-sidebar > .logo-header {
  flex: 1 1 98%;
  display: flex;
  justify-content: center;
}

.content-sidebar > .hamburger-header {
  flex: 1 1 2%;
}

.hamburger-header {
  display: flex;
  justify-content: center;
}
.hamburger-header i {
  font-size: var(--fs-70);
}

.hamburger-header i:hover {
  color: var(--clr-accent-100);
}

.nav-wrapper {
  align-items: center;
}
.nav-wrapper img {
  height: 1.25rem;
  flex-grow: 0;
  margin: auto;
}

.nav-list {
  text-align: center;
}
.nav-list li {
  padding: var(--vertical-padding-80) 0 var(--vertical-padding-80) 0;
}
.nav-list a {
  font-size: var(--fs-nav);
  color: var(--clr-neutral-200);
  text-decoration: none;
  display: block;
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-100);
}

#primary-navigation {
  display: none;
}
.primary-navigation[data-visible] {
  display: block;
}

/* Utility classes */

.container {
  --max-width: 1100px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 0.8em);
}

:where(.flow-last-child :last-child) {
  margin-bottom: var(--flow-spacer, 1.2em);
}
.flow button {
  width: 100%;
}

.even-columns {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.even-columns img {
  margin-right: 50px;
}

.even-columns[data-type="inverted"] {
  flex-direction: row-reverse;
}

.vertical-align-center {
  align-items: center;
}
.justify-self-end {
  justify-self: end;
}

@media (max-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-200);
    --fs-body: var(--fs-90);
  }
  .even-columns {
    display: block;
    text-align: center;
  }
  .even-columns img {
    margin-left: auto;
    margin-right: auto;
  }
  .img-icon {
    width: 250px;
  }
}

.clr-bg-dark {
  background-color: var(--clr-primary-200);
}
.clr-bg-semi-dark {
  background-color: var(--clr-primary-100);
}
.clr-accent-100 {
  color: var(--clr-accent-100);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-body-setting {
  font-size: var(--fs-body-setting);
}

.vertical-padding-block-300 {
  padding-block: var(--vertical-padding-300);
}
.vertical-padding-block-700 {
  padding-block: var(--vertical-padding-700);
}
.vertical-padding-block-900 {
  padding-block: var(--vertical-padding-900);
}

.setting-line {
  height: 1px;
  border-width: 0;
  color: rgb(99, 99, 102);
  background-color: rgb(99, 99, 102);
}

.max-width {
  --max-width: 880px;
}
