body {
  margin: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: black;
    /* background-repeat: round; */
  /* background-image: url(https://www.apple.com/v/privacy/n/images/overview/hero_bg__d8l40djyo5g2_medium.jpg);
  background-size: 100% 164%;
  background-repeat: no-repeat;
  background-position: center center; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
  /* background-color: cyan; */
  color: rgb(255,255,255);
  text-align: left;
  margin: 0;
}

p {
  /* background-color: gold; */
  color: rgb(142,142,147);
  text-align: left;
  font-size: 1.4em;
}

.feature-image {
  width: 50%;
}

.feature-text, .feature-text-icon {
  /* background-color: purple; */
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  height: 40%;
}

/* START .feature, .feature-alt */

.feature, .feature-alt {
  display: block;
}

.feature {
  /* background-color: navy; */
  background-color: rgb(0,0,0);
  border: 40px solid rgb(0,0,0);
}

.feature-alt {
  /* background-color: blue; */
  background-color: rgb(14,14,16);
  border: 40px solid rgb(14,14,16);
}

/* END .feature, .feature-alt */


/* START .feature-flex, .feature-flex-alt */

.feature-flex, .feature-flex-alt {
  width: 70%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.feature-flex {
  /* background-color: green; */
  background-color: rgb(0,0,0);
}

.feature-flex-alt {
  /* background-color: red; */
  background-color: rgb(14,14,16);
}

/* END feature-flex, feature-flex-alt */


/* START media queries */

@media (max-width: 1160px) {
  .feature-flex, .feature-flex-alt {
    width: 85%;
  }

  .top-nav {
    overflow: hidden;
    width: 85%;
    padding-top: 30px;
    margin-right: 5%;
    display: inline-block;
  }

  .feature-text, .feature-text-icon {
    width: 60%;
    height: auto;
  }

  .feature-image {
    height: auto;
  }

  h1 {
    text-align: left;
  }

  p {
    text-align: left;
  }
}

.about-container {
  display: block;
  justify-content: center;
}

.about-header {
  color: rgb(255,255,255);
  margin: 0;
  text-align: left;
  font-size: 3em;
}

.about {
  width: 63%;
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
}

.about-text {
  color: rgb(255,255,255);
  text-align: left;
  font-size: 1.1em;
  line-height: 1.3;
}

/* ICON */

.feature-image-icon {
  width: 350px;
}

.text-icon, .feature-text-icon {
  height: auto;
}

.app-store-button {
  background-color: black;
  border: 0;
  height: 70px;
}

.mid-separator {
  width: 6%;
}

/* NAV BAR */

/* Add a black background color to the top navigation */
.top-nav {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.nav-button, .logo {
  float: right;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 6px 30px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
}

.logo {
  padding-right: 36%;
}

/* Change the color of links on hover */
.top-nav a:hover {
  color: #0096FF;
}

.top-nav .logo {
  height: 20px;
}

@media (min-width: 1440px) {
  .feature-flex, .feature-flex-alt {
    width: 952px;
  }
  .mid-separator {
    width: 0px;
  }
}

@media (max-width: 976px) {
  .about-text {
    font-size: 1em;
  }
  .about {
    width: 90%;
    padding-top: 30px;
  }
  .feature {
    border: 50px solid rgb(0,0,0);
  }
  .feature-alt {
    border: 50px solid rgb(14,14,16);
  }
  .feature-flex, .feature-flex-alt {
    width: 92%;
    display: block;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-text, .feature-text-icon {
    order: 1;
    width: 90%;
  }
  .feature-text-icon {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .feature-image {
    order: 2;
    width: 70%;
    padding-top: 20px;
  }
  .top-nav .logo {
    display: none;
  }
  .top-nav {
    padding-bottom: 40px;
  }
  .top-nav .nav-button {
    float: right;
    justify-content: space-around;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.24em;
  }
}

/* Mobile - S */
@media (max-width: 425px) {
  .feature-image-icon {
    width: 200px;
  }
  p {
    text-align: center;
    font-size: 0.9em;
  }
  .about-header {
    font-size: 1.6em;
  }
  .about-text {
    font-size: 0.9em;
  }
  .nav-button, .logo {
    float: center;
    text-align: center;
    padding: 6px 20px;
    font-size: 0.6em;
  }
  /* .nav-button, .logo {
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 6px 30px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
  } */
}

/* END media queries */
